
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <br>
    <h2>About</h2>
    <br>
    <p>My name is Mirka and I am distant PhD student in Intelligent Systems study program at Technical University of Kosice, Slovakia. My thesis is about Methods of symbolic artificial intelligence in social robotics. My goal is to make a creative program. Currently, I am working on a system that writes haiku poetry.</p>
    <p>Haiku is a genre of poetry that has its origin in Japan, but was also adapted to other languages as well. Here, you can generate haikus in English language. Traditional haiku poem consists of three lines with fixed syllable count for each verse (5-7-5 syllable pattern). Regarding content, main theme of haiku poem is nature and it aims to capture a feeling.</p>
    <p>HThis automated haiku generator uses poem models to construct poems from words based on their part of speech and number of syllables. Model is kind of a pattern for word selection into the poem.</p>
    <p>Innovative field of computational creativity is focusing on developing algorithms that are capable of creating outputs that would be considered creative. Language provides a lot of opportunities for creativity.</p>
</div>

