@{
    ViewBag.Title = "Haiku Poetry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <br>
    <h2>About the research</h2>
    <br>
    <p>
        Haiku is a famous genre of Japanese poetry. The founder of traditional haiku, Kyoshi, said that haiku
        should be “sketch from nature”. As the quote suggests, a traditional haiku poem usually describes a
        person’s feeling for nature.
    </p>
    <br>
    <p>
        One haiku poem is a stanza consisting of 3 lines. Each line has fixed count of sound units (morae,
        similar to syllables in English). A traditional haiku poem consists of two parts. Each part creates
        a different image or aims to express a certain idea. These two parts are separated by cutting word
        (kireji) that is a word separating the images or ideas depicted in the poem.
    </p>
    <br>
    <p>
        In the beginning of the 20th century, haiku was adapted to English and later also into other languages.
        Foreign adaptation consists of 3 lines of 5-7-5 syllables, since morae does not have an equivalent in
        other languages. Foreign haiku does not always follow strict rules of traditional haiku poem. Therefore,
        topics are not limited to na-ture and often haiku in other language does not conform to the formal haiku
        rules.
    </p>
    <br>
    <p>
        The proposed approach creates English haiku poems about nature. Poems are generated in 3 lines and 
        conform to traditional 5-7-5 syllable pattern.
    </p>
</div>
