@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <br>
    <h2>About the research</h2>
    <p>
        When generating poetry by program, one can learn a lot about language, poetry and about creating it.
        The problems in designing computer programs to construct poetry include considerations in generating
        well-formed sentences which have the added restrictions that poetry requires: meter, rhyme, logic,
        diction, subject matter, and imagery. That makes it more challenging to algorithmically generate poetry.
    </p>
    <br>
    <p>
        Robots are spreading into everyday life and there is increasing need to create robots capable of social 
        interaction. Since people interact mostly by speech (besides gestures, facial expressions and other 
        non-verbal means of communication), verbal communication is the basic element of human interaction. The 
        goal is to create meaningful poems using computer and by this to contribute to social robotics research.
        natural language generation aims to develop computer systems that can produce understandable texts in 
        human language. Since poetry is a specific genre of human language, task of poetry generation is a 
        specialized part of natural language generation research.
    </p>
    <br>
    <p>
        Innovative field of computational creativity is focusing on developing algorithms that are capable of
        creating outputs that would be considered creative. Language provides a lot of opportunities for creativity.
    </p>
    <br>
    <p>
        You can read more about my research <a href="http://www.aei.tuke.sk/papers/2017/1/02_Hreskova.pdf"> HERE</a>
    </p>
</div>

