
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <br>
    <h2>Contact</h2>
    <p><h3>EMAIL:</h3> miroslava.hreskova(at)student.tuke.sk</p>
    <br>
    <p>If you would like to help me with my research, please generate and evaluate some poems - it would be a great help to me.</p>
    <p>If you have any comments or suggestions, please do not hesitate to write me an email: miroslava.hreskova(at)student.tuke.sk</p>
    <p>Or you can do it <a href="https://drive.google.com/open?id=1i5bKrlbJONJGfWWndMhmVOUVlttd2sXVfLdMkKjBAs0">HERE</a></p>
</div>

