@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <br>
    <h2>Oops! Somethingh went wrong...</h2>
    <br>
    <p>Sorry for the error, trying to fix it ASAP.</p>
    <br>
    <p>Your willingness to help with the research is greatly appreciated.</p>
</div>
