@{
    ViewBag.Title = "Homepage";
}
<div id="content">
    <br>
    <p>Dear visitor,</p>
    <br>
    <p>
        welcome to the website of Michiko - automated haiku poet.
    </p>
    <br>
    <p>
        My name is Mirka and I am distant student at Technical University of Kosice, Slovakia.
        My goal is to make a creative program. Currently, I am working on a system that writes haiku poetry.
    </p>
    <br>
    <p>
        Haiku is a genre of poetry that has its origin in Japan, but was also adapted to other languages as well.
        Here, you can generate haikus in English language. Traditional haiku poem consists of three lines with
        fixed syllable count for each verse (5-7-5 syllable pattern). Regarding content, main theme of haiku poem
        is nature and it aims to capture a feeling.
    </p>
    <br>
    <p>
        This automated haiku generator uses poem models to construct poems from words based on their part of speech
        and number of syllables. Model is kind of a pattern for word selection into the poem.
    </p>
    <br>
    <p>
        If you would like to help me with my research, please generate and evaluate some poems - it would be a great 
        help to me. Rate each generated poem with points in range from -3 (very bad, does not make sense at all) to 
        3 (great and inspiring).
    </p>
    <br>
    <p>
        If you have any comments or suggestions for improvement, please do not hesitate to share your ideas with 
        me through a questionnaire <a href="https://drive.google.com/open?id=1i5bKrlbJONJGfWWndMhmVOUVlttd2sXVfLdMkKjBAs0">HERE</a>
    </p>
    <br>
    <p>Thank You very much for Your visit.</p>
    <br>
</div>
