@{
    ViewBag.Title = "Homepage";
}
<div id="content">
    <br>
    <p>Dear visitor,</p>
    <br>
    <p>welcome to website of automated haiku poet.</p>
    <p>My name is Mirka and I am distant PhD student in Intelligent Systems study program at Technical University of Kosice, Slovakia. My thesis is about Methods of symbolic artificial intelligence in social robotics. My goal is to make a creative program. Currently, I am working on a system that writes haiku poetry.</p>
    <p>On this website, you can try my application. It is work in progress. If you would like to help me with my research, please generate and evaluate some poems - it would be a great help to me. Rate each generated poem with points in range from -3 (very bad, does not make sense at all) to 3 (great and inspiring).</p>
    <p>If you have any comments or suggestions, please do not hesitate to write me an email: miroslava.hreskova(at)student.tuke.sk</p>
    <p>Or you can share your ideas with me through a questionnaire <a href="https://drive.google.com/open?id=1i5bKrlbJONJGfWWndMhmVOUVlttd2sXVfLdMkKjBAs0">HERE</a></p>
    <div style="text-align:center">
        @Html.ActionLink("TRY IT OUT", "NewHaiku", "Home")
    </div>
</div>
