
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <br>
    <h2>Thank You very much!</h2>
    <br>
    <p>I greatly appreciate Your help with my research.</p>
    <p>Want to generate new poem? Click @Html.ActionLink("HERE", "NewHaiku", "Home")</p>
    <p>Want to share Your ideas for improvement? Feel free to do it <a href="https://drive.google.com/open?id=1i5bKrlbJONJGfWWndMhmVOUVlttd2sXVfLdMkKjBAs0">HERE</a></p>
</div>
